<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CarWashing</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserRegisterServlet</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>ty.servlet.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>ty.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFeedbackServlet</display-name>
    <servlet-name>AddFeedbackServlet</servlet-name>
    <servlet-class>ty.servlet.AddFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFeedbackServlet</servlet-name>
    <url-pattern>/AddFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMessageServlet</display-name>
    <servlet-name>DeleteMessageServlet</servlet-name>
    <servlet-class>ty.servlet.DeleteMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMessageServlet</servlet-name>
    <url-pattern>/DeleteMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyMyInfoServlet</display-name>
    <servlet-name>ModifyMyInfoServlet</servlet-name>
    <servlet-class>ty.servlet.ModifyMyInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyMyInfoServlet</servlet-name>
    <url-pattern>/ModifyMyInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadMessageServlet</display-name>
    <servlet-name>ReadMessageServlet</servlet-name>
    <servlet-class>ty.servlet.ReadMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadMessageServlet</servlet-name>
    <url-pattern>/ReadMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMessageServlet</display-name>
    <servlet-name>ShowMessageServlet</servlet-name>
    <servlet-class>ty.servlet.ShowMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMessageServlet</servlet-name>
    <url-pattern>/ShowMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindCarServlet</display-name>
    <servlet-name>FindCarServlet</servlet-name>
    <servlet-class>ty.servlet.FindCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCarServlet</servlet-name>
    <url-pattern>/FindCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCarServlet</display-name>
    <servlet-name>DeleteCarServlet</servlet-name>
    <servlet-class>ty.servlet.DeleteCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCarServlet</servlet-name>
    <url-pattern>/DeleteCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertCarServlet</display-name>
    <servlet-name>InsertCarServlet</servlet-name>
    <servlet-class>ty.servlet.InsertCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCarServlet</servlet-name>
    <url-pattern>/InsertCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindCarBrandServlet</display-name>
    <servlet-name>FindCarBrandServlet</servlet-name>
    <servlet-class>ty.servlet.FindCarBrandServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCarBrandServlet</servlet-name>
    <url-pattern>/FindCarBrandServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderWashServlet</display-name>
    <servlet-name>OrderWashServlet</servlet-name>
    <servlet-class>ty.servlet.OrderWashServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderWashServlet</servlet-name>
    <url-pattern>/OrderWashServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowInfoServlet</display-name>
    <servlet-name>ShowInfoServlet</servlet-name>
    <servlet-class>ty.servlet.ShowInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowInfoServlet</servlet-name>
    <url-pattern>/ShowInfoServlet</url-pattern>
  </servlet-mapping>
</web-app>